html {
  max-width: 750px;
  margin: 20px auto;
  font-size: 28px;
  font-family: 'Microsoft Jhenghei', Lantinghei SC, 'lanting', PingFang SC, Seguo UI, Microsoft Yahei, Arial;
  color: #333;
  line-height: 2;
}